<!-- <app-nav-bar></app-nav-bar> -->

<div class="main-content">

    <!-- <app-side-nav-bar></app-side-nav-bar> -->

    <div class="content">
        <div class="con-todo">

            <div class="todo-list-background">

                <!-- <div class="todo-card"> <div class="todo-item" *ngFor="let todo of todos;
                let i = index;" (click)="openTodos(todo, i, $event)"> <div class="todo-title">
                {{ todo.title }} </div> <div class="todo-description"> {{
                limitWords(todo.description, 50)}} </div> </div> </div> -->

                <div class="con-flex-card con-1">
                    <div class="con-col-1">
                        <div 
                            class="col-cate col-1" 
                            *ngFor="let category of (categoryCounts | keyvalue)">
                            <div class="col-cate-name">
                                {{ category.key }}
                            </div>
                            <div class="col-cate-total">
                                {{ category.value }}
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="con-flex-card con-2">
                    test
                </div>
                <div class="con-flex-card con-3">
                    test
                </div>
                <div class="con-flex-card con-4">
                    test
                </div>
            </div>
        </div>
    </div>

    <!-- Button to clear all localStorage -->
<button (click)="clearLocalStorage()" class="clean-up-btn">
    Clear All Data
</button>


</div>