.main-content { 
    // border: 1px solid yellow;
    display: flex;
    // height: 100vh;
}

.content { 
    // border: 2px solid rgb(120, 216, 1);
    width: 100%;
    height: 100%;
    max-height: 80vh;
    
    
    .con-todo {
        display: flex;
        height: 90vh;
        // border: 1px solid black;
        border-radius: 10px;
        background-color: #90e0ef;
        justify-content: end;
        margin-left: auto;
        
        .todo-list-background {
            border-radius: 10px;
            padding: 10px;
            // background-color: rgba(255, 255, 255, 0.336);
            border: 1px solid black;
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 50vh;

            .con-flex-card { 
                border: 1px solid black;
                padding: 10px;
                display: flex;
                width: 100%;
                max-width: 300px;
                max-height: 150px;
                border-radius: 10px;
                margin: 5px;
            }
            
            .con-1 { 
                background-color: rgba(97, 97, 67, 0.29);

                .con-col-1 { 
                    // background-color: rgba(255, 255, 0, 0.311);
                    border-radius: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 100%;
                    width: 100%;
                    overflow-y: scroll;

                    .col-cate { 
                        display: flex;
                        padding: 0px; //adjust here
                        // border: 1px solid rgb(34, 0, 226);
                        border-radius: 10px;
                        justify-content: space-between;
                        
                        .col-cate-name { 
                            // border: 1px solid black;
                            background-color: rgb(37, 131, 175);
                            color: white;
                            border: none;
                            width: 100%;
                            margin: 5px;
                            padding: 10px 10px;
                            border-radius: 10px;
                            display: flex;
                            justify-content: start;
                            align-items: center;
                            transition: 0.3s;
                            
                            &:hover { 
                                background-color: rgb(20, 102, 141);
                                box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
                                padding: 10px 20px;
                                
                            }
                        }
                        
                        .col-cate-total { 
                            // border: 1px solid black;
                            background-color: rgb(37, 131, 175);
                            color: white;
                            border: none;
                            width: 100%;
                            margin: 5px;
                            max-width: 30px;
                            padding: 10px;
                            border-radius: 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            transition: 0.3s;
                            
                            &:hover { 
                                background-color: rgb(20, 102, 141);
                                box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
                                
                            }

                        }
                    }
                }
            }
        }
        
        .todo-card {
            list-style: none;
            padding: 60px 0px;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: center;
            overflow: scroll;
            overflow-x: hidden;
            border: 1px solid black;
            border-radius: 10px;
            width: 100%;
            max-width: 50vh;
            height: 100%;
            max-height: 20vh;
            margin: 20px -20px;
            
        }

        .todo-title {
            width: 100%;
            display: flex;
            justify-content: start;
            border-radius: 10px;
            margin-bottom: 5px;
            font-size: 18px;
            color: rgba(0, 0, 0, 0.732);
        }
        
        .todo-description {
            width: 100%;
            display: flex;
            justify-content: start;
            margin-top: 10px;
            font-size: 14px;
            color: rgba(0, 0, 0, 0.396);

            text-wrap: nowrap;
            overflow: hidden;
            display: block;
            text-overflow:ellipsis;

        }
        
        .complete-task {
            color: rgba(0, 0, 0, 0.224);
        }
        
        .todo-item {
            background: #f4f4f4;
            margin: 5px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            max-width: 150px;
            width: 100%;
            word-break: break-word;
            overflow-wrap: break-word;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.171);
            transition: 0.4s;
            cursor: pointer;
        }
        
        .todo-item:hover {
            background-color: rgba(255, 255, 255, 0.445);
            transform: scale(1.1);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.482);
        }

    }

    
}