<!-- <app-nav-bar></app-nav-bar> -->

<div class="main-content">

    <!-- <app-side-nav-bar></app-side-nav-bar> -->

    <div class="content">
        <div class="con-todo">

            <div class="todo-list-background">

                <div class="con-flex-card con-1">
                    <div class="con-col-1">
                        <div
                            class="col-cate col-1"
                            *ngFor="let category of (categoryCounts | keyvalue)">
                            <div class="col-cate-name">
                                {{ category.key }}
                            </div>
                            <div class="col-cate-total">
                                {{ category.value }}
                            </div>
                        </div>
                    </div>

                </div>
                <div class="con-flex-card con-2">
                    <span class="con-label-flex">All Task</span>
                    <div class="todo-card"> 
                        <div class="todo-item" *ngFor="let todo of todos; let i = index;" (click)="openTodos(todo, i)">
                            <span class="con-title-item">{{limitWords(todo.title, 5)}}</span>

                            <div class="level-con" [ngClass]="{'high-level' : todo.level === 'high', 'medium-level' : todo.level === 'medium', 'low-level' : todo.level === 'low'}">{{todo.level}}</div>

                        </div>

                    </div>
                </div>
                <div class="con-flex-card con-3">
                    test
                </div>
                <div class="con-flex-card con-4">
                    test
                </div>
            </div>

            <div class="con-todo-list-2">

                <div class="con-flex-1">
                    <div class="chart">
                        <canvas #chartCanvas></canvas>
                    </div>

                </div>
                <div class="con-flex-2">

                </div>
            </div>
        </div>
    </div>