
<app-nav-bar></app-nav-bar>

<div class="main-content">
<app-side-nav-bar>
</app-side-nav-bar>

    <div class="content">
        <div class="con-todo">
            <div class="todo-list-background">
                <div class="todo-card">
                    <div
                    class="todo-item"   
                    *ngFor="let todo of todos; let i = index;"
                    (click)="openTodos(todo, i, $event)"
                    >
                    <div class="todo-title" >
                        {{ todo.title }}
                    </div>
                    <div class="todo-description">
                        
                        {{ limitWords(todo.description, 50)}}
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>  
</div>
    