<!-- <h2>Todo App</h2> -->

<app-nav-bar></app-nav-bar>

<div class="main-content">
    <app-side-nav-bar></app-side-nav-bar>
    <div class="todo-content">
        <div class="add-task-con">
            <!-- <input type="date" [(ngModel)]="selectedDate" (change)="onDateChange()"></div> -->
            <div *ngIf="isAddTask">
                <div class="card-overlay">
                    <div class="card">
                        <button (click)="closeAddTask()">close</button>
                        <input type="text" placeholder="title" [(ngModel)]="title">
                        <textarea type="text" placeholder="description" [(ngModel)]="description"></textarea>
                        <select
                        name=""
                        id=""
                        [(ngModel)]="selectState"
                        (ngModelChange)="onStateChange()">
                        <option value="new">New</option>
                    </select>
                    <button (click)="submit()">Submit</button>
                </div>
            </div>
        </div>
        </div>
        
        <button class="add-task-btn" (click)="addTask()">Add Task+</button>

        <div class="todo-list-background">
                    <div class="todo-card">
                        <div
                            class="todo-item"
                            *ngFor="let todo of todos; let i = index;"
                            (click)="openTodos(todo, i, $event)">
                            <div class="todo-title" [ngClass]="{'complete-task' : todo.isComplete}">
                                {{ todo.title }}
                                <label class="custom-radio" (click)="$event.stopPropagation()">
                                    <input
                                        class="check-btn"
                                        type="radio"
                                        [checked]="todo.isComplete"
                                        (click)="setComplete(i, $event); $event.stopPropagation()">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <button class="del-btn" (click)="delete(i, $event)"></button>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="showTodo">
                        <div class="card-overlay">
                            <div class="card">
                                <button (click)="closeTodos()">close</button>
                                <input type="text" [(ngModel)]="selectedTitle" [disabled]="!isEditTodo">
                                    <textarea
                                        type="text"
                                        [(ngModel)]="selectedDescription"
                                        [disabled]="!isEditTodo"></textarea>

                                    <select name="" id="" [(ngModel)]="selectedStateNew" [disabled]="!isEditTodo">
                                        <option disabled="disabled" selected="selected">Select a state</option>
                                        <option value="new">New</option>.
                                        <option value="progress">Progress</option>
                                        <option value="done">Done</option>

                                    </select>
                                    <input type="text" [(ngModel)]="selectedDateSubmission" disabled="disabled">
                                        <button *ngIf="!isEditTodo" (click)="editTodo()">edit</button>
                                        <button *ngIf="isEditTodo" (click)="editTodo()">cancel</button>
                                        <button (click)="saveEdit()">save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>