


.main-content { 
    display: flex;
    
}


.todo-content { 
    // border: 1px solid rgb(31, 0, 171);
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;

    .add-task-con {
        // border: 1px solid black;
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        background-color: rgba(255, 255, 255, 0.941);
        margin: 10px;
        display: flex;
        padding: 10px;
        justify-content: start;
        align-items: center;
        transition: 0.3s;

        .usage-label { 
            border: 1px solid black;
            background-color: blue;
            color: white;
            border: none;
            padding: 5px 20px;
            margin: 0px 10px;
            border-radius: 5px;
            text-wrap: nowrap;
        }

        .con-selection { 
            margin-right: 10px;


            select { 
                // background-color: yellow;
                width: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-transform: capitalize;
    
            }
        }
        
        .con-reset-filter { 
            margin-right: 10px;
        }

        .reset-filter-btn { 
            padding: 10px 10px;
            margin-top: 10px;
        }
        
        .search-item { 
            border: 2px solid rgb(0, 0, 0, 0.2);
            padding: 5px 10px;
            margin-top: 10px;
            border-radius: 5px;
        }

        &:hover { 
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.171);
        }

    }
    
    .add-task-btn { 
        background-color: rgb(141, 111, 232);
        display: flex;
        align-items: center;
        gap: 5px;
        max-width: 100px;
        margin-left: 10px;
    }
    
    button {
        background-color: #2e39b8;
        color: rgba(255, 255, 255, 0.604);
        padding: 10px;
        border-radius: 5px;
        border: none;   
        transition: 0.3s;
        cursor: pointer;
    }
    
    button:hover {
        background-color: #1A237E;
        color: rgb(248, 248, 255);
    }
    
    .todo-list-background {
        margin: 10px;
        padding: 5vh;
        overflow-y: auto;
        overflow-x: hidden;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        background-color: rgb(240, 240, 240);   
        height: 100%;
        max-height: 50%;
        transition: 0.3s;

        &:hover { 
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.171);
        }
    }

    .todo-list-background::-webkit-scrollbar { 
        width: 5px;
    }

    .todo-list-background::-webkit-scrollbar-track { 
        background-color: rgb(160, 160, 199);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    
    .todo-list-background::-webkit-scrollbar-thumb { 
        background-color: rgb(75, 75, 240);
        border-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .todo-list-background::-webkit-scrollbar-thumb:hover { 
        background-color: blue;
        border-radius: 10px;
    }
    
    .todo-card {
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        /* Allows items to wrap when max width is reached */
        gap: 10px;
        /* Adds spacing between items */
        justify-content: center;
        /* Centers items */
        width: 100%;
    }
    
    .todo-title {
        width: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        margin-bottom: 5px;
        font-size: 18px;
        color: rgba(0, 0, 0, 0.693);
        // position: relative;
        

        .level-con { 
            // position: absolute; /* Enable positioning within the parent */
            // margin-top: 45%;
            // margin-left: -5%;
            color: white;
            display: flex;
            justify-content: center;
            padding: 5px 0px 5px 0px;
            // z-index: 10; /* Keep it on top of other elements */
            font-size: 12px;
            border-radius: 5px;
            width: 100%;
            text-transform: capitalize;
            
        }


        .con-state, 
        .drop-btn,
        .con-category {
            font-size: 12px;
            border-radius: 5px;
            padding: 5px;
            color: white;
            background-color: rgba(0, 0, 0, 0.168);
            display: flex;
            justify-content: center;
            align-items: center; /* Center content vertically */
            width: 60px; /* Set a fixed width */
            text-align: center; /* Center text inside */
            margin-left: auto;
            box-sizing: border-box; /* Ensure padding doesn't affect width */
            margin-bottom: 5px;
            color: rgb(255, 255, 255);
        }

        .new-task {
            background-color: #4CAF50;
        }
        .progress-task {
            background-color: #2196F3;
        }
        .done-task {
            background-color: #9C27B0;
        }

        .drop-btn {
            background-color: rgba(255, 255, 0, 0);
            width: 10px;
            color: rgba(0, 0, 0, 0.234);
            margin-bottom: 0;
            font-size: 12px;
            position: absolute;
            right: 0;
            margin-right: 15px;
            
            &:hover { 
                color: rgba(101, 56, 56, 0.726);
                
            }
        }

        .con-nav-1 {
            padding: 5px;  
            width: 120px; /* Automatically adjusts to content width */
            height: fit-content; /* Automatically adjusts to content height */
            
            text-wrap: nowrap;
            position: absolute;
            margin-top: 20px;
            margin-left: 70px;
            border-radius: 5px;
            display: flex;
            
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.26);
            background-color: white;
            z-index: 10; /* To ensure it appears above other elements if needed */
        }
        

        

        
        .con-title-item { 
            width: 140px;
            text-wrap: nowrap;
            overflow: hidden;
            display: block;
            text-overflow:ellipsis;
        }

        .con-desc-item {
            position: absolute;
            font-size: 12px;
            margin-top: 30px;
            width: 100px; /* Fixed width for consistent truncation */
        
            /* Enable multi-line truncation */
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3; /* Set max number of lines before truncating */
            line-clamp: 3;
            -webkit-box-orient: vertical;
        
            /* Important: These properties help with text wrapping */
            white-space: normal; 
            line-height: 1.2; /* Adjust line height if needed */
            max-height: calc(1.2em * 3); /* line-height * max lines */
        }
        
        
        
        .high-level {
            background-color: #d20000; /* Soft red */
        }
        
        .medium-level {
            background-color: #d4ab04; /* Warm yellow */
        }
        
        .low-level {
            background-color: #75d982; /* Fresh green */
        }
    }

    .todo-description {
        width: 100%;
        display: flex;
        justify-content: start;
        margin-top: 10px;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.396);
    }
    
    .complete-task {
        color: rgba(0, 0, 0, 0.224);
        // text-decoration: line-through;
    }
    
    .todo-item {
        background: #f4f4f4;
        margin: 5px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        max-width: 200px;
        width: 100%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.171);
        transition: 0.4s;
        position: relative;
        border: 1px solid rgba(0, 0, 0, 0.3);
        
    }
    
    .todo-item:hover {
        // background-color: rgb(0, 23, 141);
        transform:scale(1.05);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.482);
    }

    // .todo-item:hover .con-title-item  { 
    //     color: white;
    // }

    // .todo-item:hover .con-state { 
    //     color: white;
    // }

    // .todo-item:hover .con-category { 
    //     color: white;
    // }

    // .todo-item:hover .con-desc-item { 
    //     color: rgba(255, 255, 255, 0.745);
    // }

    // .todo-item:hover .complete-task .con-title-item { 
    //     color: rgba(255, 255, 255, 0.679);
    // }
    
    .complete-btn,
    .del-btn {
        display: flex;
        cursor: pointer;
        background-color: transparent;
        background-size: cover;
        color: rgba(255, 0, 0, 0.567);
        font-size: 12px;
        flex: 1;

        &:hover {
            background-color: transparent;
            color: rgb(136, 0, 0);
            transform: translateX(5px);

        }
    }

    .complete-btn { 
        background-color: transparent;
        background-size: cover;
        color: green;
        
        &:hover {
            background-color: transparent;
            color: rgb(0, 75, 0);
            transform: translateX(5px);
        }
    }
    
    
    .custom-radio {
        cursor: pointer;
        display: flex;
        margin-left: auto;
        position: absolute;
        margin-bottom: 5px;
    }
    
    /* Hide the default radio button */
    .custom-radio input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    
    /* Custom Square "Radio" Button */
    .custom-radio .checkmark {
        width: 20px;
        height: 20px;
        border-radius: 4px;
        /* Make it a square */
        border: 2px solid #33333375;
        background-color: rgb(255, 255, 255);
        /* Yellow background */
        display: inline-block;
        position: relative;
        transition: all 0.3s ease;
    }
    
    /* Add checkmark effect when selected */
    .custom-radio input:checked + .checkmark {
        background-color: green;
        /* Green when selected */
        border-color: green;
    }
    
    /* Inner checkmark when selected */
    .custom-radio input:checked + .checkmark::after {
        content: "✔";
        font-size: 14px;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
    }
    
    .card-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
    }
    
    .card {
        background-color: rgba(255, 255, 255, 0.812);
        padding: 20px;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        width: 50%;
        max-width: 1000px;
        min-height: 200px;
        text-align: center;
        overflow-y: auto;

        .close-btn { 
            display: flex;
        
        }
    }

    .form-controller { 
        // border: 1px solid black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        margin-top: 10px;
        color: #1E3A5F ;
        font-weight: bold;

        .con-btn {
            // border: 1px solid black;
            display: flex;
            justify-content: center;
            gap: 10px;

            button { 
                width: 100px;
            }
        }
        
        .label-title { 
            display: flex;
            padding: 5px;
        }

            .con-title { 
                // border: 1px solid black;
                display: flex;
                
                input { 
                    width: 100%;
                    padding: 5px 10px;
                    border-radius: 5px;
                    font-size: 14px;
                    border: 1px solid rgba(0, 0, 0, 0.246);
                }
            }

            .con-select { 
                // border: 1px solid rgb(0, 49, 122);
                display: flex;
                align-items: start;
                align-content: start;
                justify-content: start;
                gap: 10px;

                .con-state-select, .con-level-select, .con-cate-select {
                    display: flex;
                    flex-direction: column;
                    
                }

                select { 
                    padding: 5px 10px;
                    border-radius: 5px;
                    margin-left: 0px;
                    border: 1px solid rgba(0, 0, 0, 0.246);
                    width: 100%;
                    
                }

                label { 
                    display: flex;
                    padding: 5px;
                }
            }

            .con-desc { 
                display: flex;
                flex-direction: column;
                // border: 1px solid black;

                label {
                    display: flex;
                    padding: 5px;
                }

                textarea { 
                    padding: 10px;
                    font-size: 13px;
                    resize: none;
                    height: 100px;
                    border-radius: 5px;
                    border: 1px solid rgba(0, 0, 0, 0.246);

                }
            }
        }
}

table {
    width: 100%; /* Ensure the table takes full width */
    table-layout: fixed;
    padding: 10px;
    // min-width: 800px; /* Set a minimum width for the table */
}

th {
    background-color: #343de3;
    text-align: left;
    color: white;
    text-align: center;
    width: 150px;
    }

th, td {
    border: 2px solid #0000005c;
    border-left: none;
    border-right: none;
    padding: 8px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    }

    ul { 
        display: flex;
        flex-direction: column;
        // border: 1px solid rgb(255, 255, 255);    
        width: 100%;
        padding: 0;
        margin: 5px;
    }

    ul li {
        list-style: none;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        // border: 1px solid yellow;
        border-radius: 5px;
        font-size: 10px;
        

        &:hover { 
           background-color: rgba(58, 8, 8, 0.085);
        }
    }

    ul li a {
        flex: 1;
        list-style: none;
        text-decoration: none;
        padding: 10px;
        text-align: center;
        color: rgb(0, 0, 0);
        display: flex;
       
     }

     //Select: All
     select { 
        padding: 5px 10px;
        border-radius: 5px;
        margin-left: 0px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        width: 100%;
        
    }


    @media (max-width: 768px) {
        .todo-content .todo-list-background {
            // background-color: rgba(4, 0, 255, 0.411);
            max-height: 100%;
        }

        .con-select {
            display: flex;
            flex-direction: column; /* Stack items vertically */
        }
        .card { 
            width: 50%;
            min-width: 250px;
            // max-width: 150px;
            max-height: 400px;
        }

        .todo-content { 
            .add-task-con { 
                // background-color: rgb(138, 80, 80);
                display: flex;
                overflow-y: hidden;
                overflow-x: auto;

            }
        }
        
    }
    


