<!-- <h2>Todo App</h2> -->

<!-- <app-nav-bar></app-nav-bar> -->

<div class="main-content">

    <!-- <app-side-nav-bar></app-side-nav-bar> -->

    <div class="todo-content">
        <div class="add-task-con">

            <!-- USAGE -->
             <div class="usage-container">
                 <div class="usage-label" for="">Total usage: {{usage}}</div>
                <div class="usage-bar" [style.width]="usagePercent + '%'" ></div>
            </div>

            <div class="con-usage-max-reach" *ngIf="usagePercent === 100">
                <fa-icon [icon]="faAlert"></fa-icon>

                <div class="alert-message">
                    You've reached the local storage limit. Delete completed tasks to optimize browser performance.
                </div>
            </div>

            <div class="con-selection state-select">
                    <span>State</span>
                    <select
                    name="stateOption"
                    id=""
                    [(ngModel)]="selectedStateOption"
                    (ngModelChange)="onSelectedStateChange()">
                    <option value="" disabled="disabled" selected="selected">State</option>
                    <option value="">All</option>
                    <option *ngFor="let state of defaultState" [value]="state">
                        {{ state }} ({{ stateCount[state] || 0 }})
                    </option>
                </select>
            </div>
            
        <div class="con-selection level-select">
            <span>Level</span>
            <select
            name="levelOption"
            id=""
            [(ngModel)]="selectedLevelOption"
            (ngModelChange)="onSelectedLevelChange()">
            <option value="" disabled="disabled" selected="selected">Level</option>
            <option value="">All</option>
            <option *ngFor="let level of defaultLevel" [value]="level">
                {{ level }} ({{ levelCount[level] || 0 }})
            </option>
            </select>
        </div>
            
        
        <div class="con-selection category-select">
            <span>Category</span>
            <select name="stateOption" [(ngModel)]="selectedCategoryOption" (ngModelChange)="onSelectedCategoryChange()">
                <option value="" disabled selected>Category</option>
                <option value="">All</option>
                <option *ngFor="let category of defaultCategories" [value]="category">
                    {{ category }} ({{ categoryCounts[category] || 0 }})
                </option>
            </select>
        </div>
        
        

        <div class="con-reset-filter">
            <button class="reset-filter-btn" (click)="resetAllFilter()">Reset Filter</button>
        </div>

        <button (click)="clearLocalStorage()" class="clean-up-btn">
            Clear All Task
        </button>
        
        <div class="con-search-item">
            <input type="text" class="search-item" placeholder="Filter quick search" [(ngModel)]="searchItem" (ngModelChange)="filteredTodos()">
        </div>

        
    
                
        
    <!-- <span>Select Date</span>
    <input type="date" [(ngModel)]="selectedDate" (change)="onDateChange()"> -->
    
                <div *ngIf="isAddTask">
                    <div class="card-overlay">
                        <div class="card">
                            <button class="close-btn" (click)="closeAddTask()">
                                <fa-icon [icon]="faClose"></fa-icon>
                            </button>

                            <div class="form-controller">
                                <div class="con-title-1">
                                    <label class="label-title">Title</label>
                                    <div class="con-title">
                                        <input type="text" placeholder="Add your title here..." [(ngModel)]="title"></div>
                                    </div>

                                    <div class="con-select">
                                        <div class="con-state-select">
                                            <label for="">State
                                            </label>
                                            <select
                                                name="state"
                                                id=""
                                                [(ngModel)]="selectState"
                                                (ngModelChange)="onStateChange()">
                                                <option value="new">New</option>
                                            </select>
                                        </div>

                                        <div class="con-level-select">
                                            <label for="">Priority Level
                                            </label>
                                            <select
                                                name="level"
                                                id=""
                                                [(ngModel)]="selectLevel"
                                                (ngModelChange)="onLevelChange()">
                                                <option value="high">High</option>
                                                <option value="medium">Medium</option>
                                                <option value="low">Low</option>
                                            </select>
                                        </div>

                                        <div class="con-cate-select">

                                            <label for="">Category
                                            </label>
                                            <select
                                                name="categories"
                                                id=""
                                                [(ngModel)]="selectCategories"
                                                (ngModelChange)="onCategoriesChange()">
                                                <option value="work">Work</option>
                                                <option value="personal">Personal</option>
                                                <option value="other">Other</option>
                                            </select>
                                        </div>
                                        
                                    </div>

                                    <!-- Description -->
                                    <div class="con-desc">
                                        <label>Description</label>
                                        <textarea type="text" placeholder="description" [(ngModel)]="description" placeholder="Add your description..."></textarea>
                                    </div>

                                    <div class="con-btn">
                                        <button (click)="submit()">Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <button class="add-task-btn" (click)="addTask()">
                    <fa-icon [icon]="faPlus"></fa-icon>Add Task</button>

                <div class="todo-list-background">
                    <div class="todo-card">
                        <div class="todo-item" *ngFor="let todo of todos; let i = index;" (click)="openTodos(todo)">
                            <div class="todo-title" [ngClass]="{'complete-task' : todo.isComplete}">
                                
                                <span class="con-title-item">{{limitWords(todo.title, 5)}}</span>

                                <span class="con-desc-item">{{limitWords(todo.description, 10) || "Description not provided"}}</span>
                                
                                <button class="drop-btn" (click)="toggleNav($event, todo.todoId)"><fa-icon [icon]="faBar"></fa-icon></button>

                                <div *ngIf="selectedNavId === todo.todoId" class="con-nav-1">
                                    <ul >
                                        <li *ngIf="!todo.isComplete"><button class="complete-btn" (click)="setComplete(todo.todoId, $event)">Mark as done</button></li>
                                        <li *ngIf="todo.isComplete"><button class="complete-btn" (click)="setComplete(todo.todoId, $event)">Mark as undone</button></li>
                                        <li><button class="del-btn" (click)="delete(todo.todoId, $event)">Delete</button></li>
                                    </ul>
                                </div>

                                <div class="con-state" [ngClass]="{'new-task' : todo.state === 'new', 'progress-task' : todo.state === 'progress', 'done-task' : todo.state === 'done', }">{{todo.state}}</div>

                                <div class="con-category" [ngClass]="{'work-cate' : todo.categories === 'work', 'personal-cate' : todo.categories === 'personal', 'other-cate' : todo.categories === 'other'}" >{{todo.categories}}</div>

                                <div class="level-con" [ngClass]="{'high-level' : todo.level === 'high', 'medium-level' : todo.level === 'medium', 'low-level' : todo.level === 'low'}">{{todo.level}}</div>
                            </div>
                            </div>
                        </div>

                        <div class="con-no-task" *ngIf="todos.length === 0 && !searchItem">
                            <div class="no-task-image"></div>
                            Looks like there's nothing here yet! Add your first task to get started.
                        </div>

                        <div class="con-no-task no-item-search" *ngIf="searchItem && todos.length === 0">
                            <div class="no-task-image no-item-found"></div>
                            No results found. Try searching with different keywords!

                        </div>

                    </div>

                    <div *ngIf="showTodo">
                        <div class="card-overlay">
                            <div class="card">
                                <button class="close-btn" (click)="closeTodos()">
                                    <fa-icon [icon]="faClose"></fa-icon>
                                </button>

                                <div class="con-btn-sec">
                                    <button (click)="toggleDarkMode()" *ngIf="isReadOnly">
                                        <fa-icon [icon]="isDarkMode ? faSun : faMoon"></fa-icon>
                                    </button>
                                    <button class="read-btn" (click)="readOnly()">{{isReadOnly ? 'Exit' : 'Read Mode'}}</button>
                                </div>

                                <div class="con-read-only" *ngIf="isReadOnly">

                                    <div class="con-selection">
                                        <div class="con-state" [ngClass]="{'new-task' : originalTodo.state === 'new', 'progress-task' : originalTodo.state === 'progress', 'done-task' : originalTodo.state === 'done', }">{{originalTodo.state}}</div>
                                        <div class="con-category" [ngClass]="{'work-cate' : originalTodo.categories === 'work', 'personal-cate' : originalTodo.categories === 'personal', 'other-cate' : originalTodo.categories === 'other'}" >{{originalTodo.categories}}</div>
                                        <div class="con-level" [ngClass]="{'high-level' : originalTodo.level === 'high', 'medium-level' : originalTodo.level === 'medium', 'low-level' : originalTodo.level === 'low'}">{{originalTodo.level}}</div>
                                    </div>

                                    <div class="con-title-desc-read">
                                       <input type="text" [(ngModel)]="originalTodo.title" value="title" disabled>
                                        <textarea name="description" id="desc" [(ngModel)]="originalTodo.description" disabled></textarea>
                                    </div> 

                                </div>

                                <div class="form-controller" *ngIf="!isReadOnly">

                                    <div class="con-title-1">
                                        <label class="label-title">Title</label>
                                        <div class="con-title">
                                            <input type="text" placeholder="Title" [(ngModel)]="selectedTitle" [disabled]="!isEditTodo"></div>
                                        </div>
    
                                        <div class="con-select">
                                            <div class="con-state-select">
                                                <label for="">State
                                                </label>
                                                <select
                                                name="state"
                                                id=""
                                                [(ngModel)]="selectedStateNew"
                                                (ngModelChange)="onNewStateChange()"
                                                [disabled]="!isEditTodo">
                                                <option disabled="disabled" selected="selected">Select a state</option>
                                                <option value="new">New</option>.
                                                <option value="progress">Progress</option>
                                                <option value="done">Done</option>
                                            </select>
                                            </div>
    
                                            <div class="con-level-select">
                                                <label for="">Priority Level
                                                </label>
                                                <select
                                                name="level"
                                                id=""
                                                [(ngModel)]="selectedLevelNew"
                                                (ngModelChange)="onNewLevelChange()"
                                                [disabled]="!isEditTodo">
                                                <option disabled="disabled" selected="selected">Select a level</option>
                                                <option value="high">High</option>.
                                                <option value="medium">Medium</option>
                                                <option value="low">Low</option>
                                            </select>
                                            </div>
    
                                            <div class="con-cate-select">
    
                                                <label for="">Category
                                                </label>
                                                <select
                                                name="categories"
                                                id=""
                                                [(ngModel)]="selectedCategoriesNew"
                                                (ngModelChange)="onNewCategoriesChange()"
                                                [disabled]="!isEditTodo">
                                                <option disabled="disabled" selected="selected">Select a level</option>
                                                <option value="work">Work</option>.
                                                <option value="personal">Personal</option>
                                                <option value="other">Other</option>
                                            </select>
                                            </div>
    
                                        </div>
    
                                        <!-- Description -->
                                        <div class="con-desc">
                                            <label>Description</label>
                                            <textarea type="text" placeholder="description" [(ngModel)]="selectedDescription" placeholder="Add your description..." [disabled]="!isEditTodo"></textarea>
                                        </div>


                                        <!-- Date -->

                                        <!-- <label for="selectedDateSubmission">Date Creation:</label>
                                        <input type="text" [(ngModel)]="selectedDateSubmission" disabled="true" 
                                        [ngModel]="selectedDateSubmission === 'null' || !selectedDateSubmission ? 'Not Updated' : selectedDateSubmission | date: 'dd/MM/yyyy h:mm a'" 
                                        >

                                        <label for="selectedDateSubmission">Latest Date Update:</label>
                                        <input 
                                        type="text" 
                                        [(ngModel)]="selectedUpdateDate " 
                                        [ngModel]="selectedUpdateDate === 'null' || !selectedUpdateDate ? 'Not Updated' : selectedUpdateDate | date: 'dd/MM/yyyy h:mm a'" 
                                        disabled="true" /> -->

                                        

                                        
                                        <div class="con-btn">
                                            <button *ngIf="!isEditTodo" (click)="editTodo()">edit</button>
                                            <button *ngIf="isEditTodo" (click)="editTodo()">cancel</button>
                                            <button (click)="saveEdit()" [disabled]="!isEditTodo || !isContentChanged()">save</button>
                                        </div>
                                    </div>
                                </div>

                             

                               

                            </div>

                           
                    </div>
    </div>
   
</div>


                            <!-- Update submit todo, open todo and save -->