.side-nav-bar {
    background-color: #1A237E  ;
    width: 250px;
    padding: 10px;
    margin: 0;
    height: 100vh; /* Full viewport height */
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.483);
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Ensure content is scrollable if needed */
    border-top-right-radius: 10px;
    overflow-x: hidden;

}

.minimize-nav { 
    width: 60%;
}

.con-side-nav-bar {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between; /* Push the minimize button to the bottom */
}

.nav-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin: 5px;
    // border: 1px solid yellow;
    max-height: 80vh;
    overflow: auto;
    overflow-x: hidden;
}

.nav-links li a {
    color: white;
}

.nav-minimize-container {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    // border: 1px solid yellow;
    margin-bottom: 20%;
    width: 100%;
}

.nav-minimize {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px;
    flex: 1;
    border-radius: 5px;
    transition: 0.3s;

    &:hover { 
        background-color: rgba(255, 255, 255, 0.286);
    }
}


.nav-minimize-on  {
    // border: 1px solid yellow;
    margin-bottom: 50px;
}

.nav-minimize-on-btn { 
    // border: 1px solid yellow;
    display: flex;
    justify-content: center;
    padding: 10px;
    flex: 1;

}

ul li {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    border-radius: 5px;
}

ul li a {
    flex: 1;
    text-decoration: none;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    color: white;
    transition: 0.3s;
}

ul li:hover {
    background-color: rgba(255, 255, 255, 0.286);
}

@media (max-width: 768px) {
    .side-nav-bar {
        position: absolute;
        z-index: 10;
        display: none;
    }
   
}
