.side-nav-bar {
    background-color: rgb(67, 71, 94);
    padding: 2px;
    width: 250px;
    padding: 10px;
    height: 100vh; //height for side-bar
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.483);

    .con-side-nav-bar {
        display: flex;
        flex-direction: column;
        max-width: 200px;
        margin: auto;

    }
    .nav-links { 
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;

        li a {
            color: white;   
        }
    }
}   

.minimize-nav { 
    width: 30px;
}

.nav-minimize { 
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    flex: 1;
}



ul { 
    display: flex;
    flex-direction: column;
    // border: 1px solid rgb(255, 255, 255);    
    width: 100%;
    padding: 0;
    margin: 5px;
}

ul { 
    display: flex;
    flex-direction: column;
    // border: 1px solid rgb(255, 255, 255);    
    width: 100%;
    padding: 0;
    margin: 5px;
}

ul li {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    // border: 1px solid yellow;
    border-radius: 5px;

    &:hover { 
       background-color: rgba(255, 255, 255, 0.286);
    }
}

ul li a {
    flex: 1;
    list-style: none;
    text-decoration: none;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    color: white;
    transition: 0.3s;
  
 }

 




@media (max-width: 768px) {
   .side-nav-bar {
    position: absolute;
    z-index: 10;
    display: none;
   }

   
}