<!-- Render the sidebar only when isMinimizeNav is not null -->
<nav *ngIf="isMinimizeNav !== null && !isNavHide" 
     class="side-nav-bar" 
     [ngClass]="{'minimize-nav': isMinimizeNav}">
    <div class="con-side-nav-bar">
        <ul class="nav-links">
            <li *ngFor="let link of navLinks">
                <a (click)="toggleSubmenu(link, $event)" [routerLink]="link.path">
                    <fa-icon [icon]="link.icon"></fa-icon>
                    <span *ngIf="!isMinimizeNav">{{ link.label }}</span>
                    <!-- Dropdown Indicator Icon -->
                    <fa-icon 
                        *ngIf="link.children" 
                        [icon]="faChevronRight" 
                        class="dropdown-icon"
                        [ngClass]="{'rotate-icon': link.isExpanded}">
                    </fa-icon>
                </a>
        
                <!-- Dropdown Menu -->
                <ul *ngIf="link.children" 
                    [class.expanded]="link.isExpanded"
                    class="sub-links">
                    <li *ngFor="let child of link.children">
                        <a [routerLink]="child.path">
                            <fa-icon [icon]="child.icon"></fa-icon>
                            <span>{{ child.label }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        
        <!-- Minimize button container -->
        <div class="nav-minimize-container" [ngClass]="{'nav-minimize-on' : isMinimizeNav}">
            <button class="nav-minimize" (click)="minimizeNav()"> 
                <fa-icon [icon]="isMinimizeNav ? faAngleRight : faAngleLeft "></fa-icon> 
            </button>
            <button  *ngIf="!isNavHidden" class="nav-minimize eye-btn" (click)="hideSideNav()"><fa-icon [icon]="faEye"></fa-icon></button>
        </div>  
    </div>
</nav>


