<div class="app-container">
    <app-nav-bar [isNavHidden]="isNavHide" class="top-nav"></app-nav-bar>
    <div class="content-wrapper">
        <app-side-nav-bar  [isNavHidden]="isNavHide" class="side-nav"></app-side-nav-bar>
        <div class="main-content">
            <router-outlet></router-outlet>
            
          

        </div>
    </div>
    <div class="con-form-link">
        <a href="https://forms.gle/syviWFUcLg2Biw1AA" target="_blank" rel="noopener noreferrer">Feedback</a>
    </div>
    

</div>

