<nav class="nav-bar">
    <div class="con-nav-bar">
        <div class="con-flex-menu">
        </div>

        
        <button *ngIf="isNavHidden" class="menu-toggle" (click)="toggleNav()">☰</button>

        <!-- <div *ngIf="isToggleNav" class="side-nav-toggle">
            <ul >
                <li><a href="/home"><fa-icon [icon]="faHome"></fa-icon> Home</a></li>
                <li><a href="/todo"><fa-icon [icon]="faListCheck"></fa-icon> Todo</a></li>
                <li><a href="/board"><fa-icon [icon]="faTableList"></fa-icon> Board</a></li>
            </ul>
        </div> -->
       
    </div>
</nav>