.main-content { 
    display: flex;
    height: 100vw;
    // border: 1px solid yellow;
}

.content { 
    // border: 2px solid rgb(0, 47, 255);
    height: 100%;
    max-height: 100vh;
    width: 100%;


    .con-todo {
        display: flex;
        height: 100%;
        max-height: 70vh;
        border: 1px solid black;
        // overflow: scroll;
        margin-left: auto;
    }
    
    .todo-title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-radius: 10px;
        margin-bottom: 5px;
        font-size: 18px;
        color: rgba(0, 0, 0, 0.732);
    }

    .todo-description {
        width: 100%;
        display: flex;
        justify-content: start;
        margin-top: 10px;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.396);

        text-wrap: nowrap;
        overflow: hidden;
        display: block;
        text-overflow:ellipsis;

    }
    .table-con-todo-item {
        display: flex;
        justify-content: center;
    }

    .todo-item {
            background: #f4f4f4;
            margin: 5px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            max-width: 150px;
            width: 100%;
            word-break: break-word;
            overflow-wrap: break-word;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.171);
            transition: 0.4s;
            height: 100%;
        }
        .todo-item:hover {
            background-color: rgba(164, 183, 235, 0.445);
            transform: scale(1.1);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.482);
        }
}

.card-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.card {
    background-color: rgba(255, 255, 255, 0.812);
    padding: 20px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 50%;
    max-width: 1000px;
    min-height: 200px;
    text-align: center;
    overflow-y: auto;
}

.table-container {
    height: 100%;
    position: relative;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
    background: white;
}

thead th {
    position: sticky;
    top: 0;
    background: #f1f1f1; /* Add background to avoid transparency while scrolling */
    z-index: 2; /* Ensure header is above scrollable content */

}

tbody {
    display: block;
    overflow-y: auto;
    overflow-x:hidden;
    height: 100%;
    max-height: 300px; 
}

tr {
    display: table;
    width: 100%;
    table-layout: fixed; /* Maintain column widths */
}

    @media (max-width: 768px) {
        th, td { 
            padding: 2px;
        }
     
        
     }

    
