/* You can add global styles to this file, and also import other style files */
:root {

    //todo component
    --bg-color: #dad9d9;
    --bg-color-todo-list-bg: #ffffff;
    --bg-color-todo-item: #ffffff;
    --bg-color-todo-card: #ffffffd2;
    --text-color: #4e4e4e;
    --bg-input-color: #f2eeee;
    --bg-input-color-disable: #dfdfdf;

    --text-color-disable: #4e4e4e;
    --text-color-complete-task: #4e4e4e60;
    --nav-bg: #f8f9fa;
    --nav-text: #000;
    --drop-btn-color: #33333396;
    --drop-btn-color-hover: #070202b6;
    --bg-select-color: #f3f1f1;
    
    --border-color: #00000041;
    
    --bg-color-con-nav-1: #fff;
    
    --icon-no-task: url(./asset/icon/notask-light.svg);
    
    --bg-color-usage: #d3d0d0;

    --text-color-usage: #101291;
    --bg-color-gradient-usage: #8f82d4;
    --bg-color-gradient-usage-2: #a4ace0;
    
    //sidenavbar   
    --bg-color-side-nav: #1A237E;

    //board
    --bg-color-thead: #ffffff;
    --border-color-td: #d1d1d1;
}

/* Dark Mode */
.dark-mode {
    --bg-color: #1f242b;
    --bg-color-todo-list-bg: #262d36;
    --bg-color-todo-item: #2e353f;
    --bg-color-todo-card: #131924bb;
    --bg-input-color: #4e4e4e75;
    --bg-input-color-disable: #f5f5f511;
    
    
    --text-color: #f5f5f5;
    --text-color-disable: #d6d6d6;
    --text-color-complete-task: #f5f5f525;
    --nav-bg: #333;
    --nav-text: #fff;
    --drop-btn-color: #ffffffaf;
    --drop-btn-color-hover: #ffffff;
    --bg-select-color: #303842;
    
    --border-color: #0000005d;
    
    --bg-color-con-nav-1: #323a44;
    
    --icon-no-task: url(./asset/icon/notask-dark.svg);
    
    --bg-color-usage: #1a222c;
    
    --text-color-usage: #f5f5f5;
    --bg-color-gradient-usage: #2f3193;
    --bg-color-gradient-usage-2: #5a65ce;
    
    //sidenavbar   
    --bg-color-side-nav: #1d2044;

    //board
    --bg-color-thead: #3d3d46;
    --border-color-td: #3d3d46;
}


body {
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden;
    // overflow: hidden;
    
    }
    
    * { 
        font-family: Arial, Helvetica, sans-serif;
    }


    // #21262d github color
    
    
    
    
        